@media only screen 
and (max-width : 1536px) {
	.canvas-wrapper {
		width: 80%;
	}
	.info-column {
		width: 100%;
		min-width: 200px;
		display: table;
	}
	h2 {
		font-size: 3vw;
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 5vw;
	}
	
}

@media only screen 
and (min-width : 1537px) {
	.canvas-wrapper {
		width: 60%;
	}
	.info-column {
		width: 30%;
		float: right;
	}
	h2 {
		font-size: 2vw;
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 3.6vw;
	}
}