button#pink {
	background: #FFCCCC;
}

button#lightgreen {
	background: #66FF33;
}

button#orange {
	background: #FFB84D;
}

button#yellow {
	background: yellow;
}

button#blue {
	background: #33CCFF;
}

button#white {
	background: #FFFFFF;
}

button#purple {
	background: #8414CF;
}

button#darkblue {
	background: #0033CC;
}
button#darkorange {
	background: #FF4719;
}

button#red {
	background: #E60000;
}

button#green {
	background: green;
}

button#gray {
	background: #B2CCCC;
}

button#lightyellow {
	background: #FFFFCC;
}